{% extends "base.html" %}

{% block content %}

    <h2>{{category_name}}</h2>

    <div class="list-group">
        {% for item in items %}
        <a class="list-group-item" href="{{url_for('showItem', category_name = category_name, item_name = item.name)}}">
            <h4 class="list-group-item-heading">{{item.name}}</h4>
            <p class="list-group-item-text">{{item.description}}</p>
        </a>
        {% endfor %}
    </div>

    {% if email %}
        <a href="{{url_for('newItem', category_name = category_name)}}"><button type="button" class="btn btn-primary">Add Item</button></a>
    {% endif %}

{% endblock %}
