{% extends "base.html" %}

{% block content %}

    <form action="#" method="post">
        <fieldset class="form-group">
            <label for="name">Name:</label>
            <input type="text" maxlength="128" class="form-control" name="name" placeholder="Name of the item">
        </fieldset>
        <fieldset class="form-group">
            <label for="description">Description:</label>
            <textarea maxlength="1024" rows="3" class="form-control" name="description" placeholder="Description of the item"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="category">Category</label>
            <select class="form-control" name="category">
                {% for category in categories %}
                <option value="{{category.name}}"
                    {% if category_name == category.name %} selected{% endif %}>{{category.name}}
                </option>
                {% endfor %}
            </select>
        </fieldset>
        <button type="submit" id="submit" class="btn btn-primary">Create</button>
    </form>

{% endblock %}
